td.valuecell {
  text-align: right;
}

td, th {
  border: solid 1px black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table {
  border-collapse: collapse;
  border: solid 1px black;
}

.mono {
  font-family: monospace;
}

#clickButton {
  width: 800px;
  height: 400px;
  background-color: gray;
  border: 0px;
  color: white;
  stroke: black;
  font-size: 300%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
